// NotoSansCJKJP
@font-face {
	font-family: 'NotoSansCJKJP';
	font-style: normal;
	font-weight: 500;
	font-display: block;
	src: url("../../fonts/nono-sans-cjk-jp/NotoSansCJKjp-Regular.ttf");
}
@font-face {
	font-family: 'NotoSansCJKJP';
	font-style: normal;
	font-weight: 700;
	font-display: block;
	src: url("../../fonts/nono-sans-cjk-jp/NotoSansCJKjp-Bold.ttf");
}
// //NotoSansJP
@font-face {
	font-family: 'NotoSansJP';
	font-style: normal;
	font-weight: 300;
	font-display: block;
	src: url("../../fonts/nono-sans-jp/NotoSansJP-Light.otf");
}
@font-face {
	font-family: 'NotoSansJP';
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url("../../fonts/nono-sans-jp/NotoSansJP-Regular.otf");
}
@font-face {
	font-family: 'NotoSansJP';
	font-style: normal;
	font-weight: 500;
	font-display: block;
	src: url("../../fonts/nono-sans-jp/NotoSansJP-Medium.otf");
}
@font-face {
	font-family: 'NotoSansJP';
	font-style: normal;
	font-weight: 700;
	font-display: block;
	src: url("../../fonts/nono-sans-jp/NotoSansJP-Bold.otf");
}
@font-face {
	font-family: 'NotoSansJP';
	font-style: normal;
	font-weight: 900;
	font-display: block;
	src: url("../../fonts/nono-sans-jp/NotoSansJP-Black.otf");
}


