@import './../../assets/scss/variables';

$sidebar-width: 25rem;
$sidebar-bg-color: #222;
$sidebar-color: $white;
$sidebar-icon-font-size: 1.8rem;
$sidebar-item-hover-bg-color: hsla(0, 0%, 100%, 0.1);
$sidebar-item-hover-color: $white;
$sidebar-item-font-size: $font-size-base;
$sidebar-item-padding: 1.5rem 1rem;
$sidebar-item-transition-time: 0.15s;
$sidebar-sub-item-padding: 1rem 0 1rem 2.8rem;
$sidebar-text-margin-left: 1.5rem;
