@import './variables';
@import '../../assets/scss/mixins';

.sidebar {
  width: $sidebar-width;
  background-color: $sidebar-bg-color;
  min-height: 100vh;
  overflow-y: overlay;
  color: $sidebar-color;
  position: fixed;
  transition: 0.3s;

  &__close {
    display: none;
    text-align: right;
    padding-top: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
  }

  i {
    font-size: $sidebar-icon-font-size;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: $sidebar-item-padding;
    cursor: pointer;
    transition: $sidebar-item-transition-time;
    font-size: $sidebar-item-font-size;
    position: relative;
  }

  &__item:not(.--sub) > &__link {
    &.--active,
    &:hover {
      background-color: $sidebar-item-hover-bg-color;
      color: $sidebar-item-hover-color;
    }
  }

  &__link,
  &__link:hover {
    color: $sidebar-color;
    text-decoration: none;
  }

  &__item.--sub {
    > .sidebar__link::after {
      content: '\f107';
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      font-size: 1.8rem;
      margin-left: auto;
      transform: rotate(-90deg);
      transition: all 0.25s;
    }

    .sidebar__list {
      overflow: hidden;
      transition: all 0.35s ease;
      height: 0;
    }

    .sidebar__list .sidebar__link {
      padding: $sidebar-sub-item-padding;
    }
  }

  &__item.--expand > &__link::after {
    transform: rotate(0);
  }

  &__item.--expand > &__list {
    height: 100%;
  }

  &__text {
    margin-left: $sidebar-text-margin-left;
  }

  @include md() {
    transform: translateX(-100%);
    z-index: 100;
    &.--show {
      transform: translateX(0);
    }

    &__close {
      display: block;
    }
  }
}
