@import './../../assets/scss/variables';

/**************** BADGES ****************/

$badge-font-size: $font-size-base !default;
$badge-letter-spacing: calc($font-size-base / 10) !default;
$badge-font-weight: $font-weight-normal !default;
$badge-color: $white !default;
$badge-padding-y: 0.5rem !default;
$badge-padding-x: 1rem !default;
$badge-border-radius-custom: 0.8rem !default;
$badge-border-radius: $badge-border-radius-custom !default;

$badge-sizes: (
  'xs': (
    'padding-y': 0.1em,
    'padding-x': 0.8em,
    'radius': 0.4rem,
    'font-size': 0.9rem,
    'letter-spacing': null,
  ),
  'sm': (
    'padding-y': 0.375em,
    'padding-x': 0.75em,
    'radius': 0.4rem,
    'font-size': 1rem,
    'letter-spacing': 0.1rem,
  ),
  'lg': (
    'padding-y': 0.75rem,
    'padding-x': 2rem,
    'radius': 1rem,
    'font-size': 1.6rem,
    'letter-spacing': 0.16rem,
  ),
);

/**************** END BADGES ****************/
