@import './../../assets/scss/variables';

$btn-padding-y: 0.75rem !default;
$btn-padding-x: 1.5rem !default;
$btn-font-family: $input-btn-font-family !default;
$btn-font-size: $text-md-font-size !default;
$btn-line-height: $input-btn-line-height !default;
$btn-white-space: null !default; // Set to `nowrap` to prevent text wrapping
$btn-letter-spacing: 0.14rem !default; // Set to `nowrap` to prevent text wrapping
$btn-margin-bottom: 1rem !default;
$btn-icon-margin-right: 0.5rem !default;

$btn-padding-y-xs: 0.375rem !default;
$btn-padding-x-xs: 1rem !default;
$btn-font-size-xs: 1rem !default;
$btn-letter-spacing-xs: 0.1rem !default;
$btn-radius-xs: 0.1rem !default;

$btn-padding-y-sm: 0.5rem !default;
$btn-padding-x-sm: 1.25rem !default;
$btn-font-size-sm: 1.2rem !default;
$btn-letter-spacing-sm: 0.12rem !default;
$btn-radius-sm: 0.2rem !default;

$btn-padding-y-md: $btn-padding-y !default;
$btn-padding-x-md: $btn-padding-x !default;
$btn-font-size-md: $btn-font-size !default;
$btn-letter-spacing-md: 0.14rem !default;
$btn-radius-md: 0.3rem !default;

$btn-padding-y-lg: 1.45rem !default;
$btn-padding-x-lg: 2rem !default;
$btn-font-size-lg: 1.6rem !default;
$btn-letter-spacing-lg: 0.16rem !default;
$btn-radius-lg: 0.4rem !default;

$btn-sizes: (
  'xs': (
    'padding-y': $btn-padding-y-xs,
    'padding-x': $btn-padding-x-xs,
    'font-size': $btn-font-size-xs,
    'letter-spacing': $btn-letter-spacing-xs,
    'radius': $btn-radius-xs,
  ),
  'sm': (
    'padding-y': $btn-padding-y-sm,
    'padding-x': $btn-padding-x-sm,
    'font-size': $btn-font-size-sm,
    'letter-spacing': $btn-letter-spacing-sm,
    'radius': $btn-radius-sm,
  ),
  'md': (
    'padding-y': $btn-padding-y-md,
    'padding-x': $btn-padding-x-md,
    'font-size': $btn-font-size-md,
    'letter-spacing': $btn-letter-spacing-md,
    'radius': $btn-radius-md,
  ),
  'lg': (
    'padding-y': $btn-padding-y-lg,
    'padding-x': $btn-padding-x-lg,
    'font-size': $btn-font-size-lg,
    'letter-spacing': $btn-letter-spacing-lg,
    'radius': $btn-radius-lg,
  ),
);

$btn-font-weight: $font-weight-bolder !default;
$btn-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08) !default;
$btn-hover-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08) !default;
$btn-hover-transform: translateY(-1px) !default;
$btn-active-hover-transform: translateY(-1px) !default;
$btn-border-rounded: 1.875rem !default;
$btn-transition: all 0.15s ease-in !default;

$btn-primary-font-color: #fff !default;
$btn-secondary-font-color: #fff !default;
$btn-danger-font-color: #fff !default;
$btn-info-font-color: #fff !default;
$btn-success-font-color: #fff !default;
$btn-warning-font-color: #fff !default;
$btn-dark-font-color: #fff !default;
$btn-light-font-color: #3a416f !default;

$btn-font-colors: () !default;

$btn-font-colors: map-merge(
  (
    'primary': $btn-primary-font-color,
    'secondary': $btn-secondary-font-color,
    'danger': $btn-danger-font-color,
    'info': $btn-info-font-color,
    'success': $btn-success-font-color,
    'warning': $btn-warning-font-color,
    'dark': $btn-dark-font-color,
    'light': $btn-light-font-color,
  ),
  $btn-font-colors
);

$btn-plain-text-hover-colors: (
  'light': $primary,
);
