@import './../../assets/scss/variables';

$pagination-gap: 1rem;
$pagination-font-size: 'NotoSansJP';
$pagination-item-border-width: 0.1rem;
$pagination-item-font-size: 1.2rem;
$pagination-item-transition: 0.1s;
$pagination-item-border-radius: 0.4rem;
$pagination-link-padding: 0 0.5rem;
$pagination-link-height: 3.1rem;
$pagination-link-font-size: 1.4rem;
$pagination-link-transition: 0.1s;
