@import './../../assets/scss/variables';

$form-label-margin-bottom: 0.5rem !default;
$form-label-font-size: 1.4rem !default;
$form-label-letter-spacing: 0.14rem !default;
$form-label-font-style: null !default;
$form-label-font-weight: $font-weight-base !default;
$form-label-color: $dark !default;
$form-label-margin-left: 0 !default;
